.header {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 50;
  min-height: 10px;

  &__body {
    position: fixed;
    left: 0;
    top: 0;
    padding: fluid-value(10, 20) 0;
    width: 100%;
    min-height: fluid-value(15, 50);
    background-color: transparent;
    transition: background-color 0.3s ease 0s, padding 0.3s ease 0s;
  }

  // .header__container

  &__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    min-height: 45px;
    transition: min-height 0.3s ease 0s;
    gap: 10px;

    @media (max-width: $md) {
      gap: 5px;
    }
  }

  // .header__logo

  &__logo {
    flex: 0 0 fluid-value(150, 200, $md);
  }

  // .header__contacts
  &__contacts {
  }

  &__nav {
  }

  &__burger {
  }

  &._scroll {
    .header__body {
      padding: 0;
      background-color: cl(color-oil);
    }

    .header__logo {
    }

    .nav__item {
    }
  }
}

.contacts-header {
  display: flex;
  justify-content: space-between;
  gap: fluid-value(15, 40, $md);

  // .contacts-header__item
  &__item {
    display: flex;
    flex: 0 1 50%;
    align-items: center;
    gap: 15px;
  }

  // .contacts-header__text
  &__text {
    font: cl(color-base);
    font-size: fluid-value(14, 18, $md);
    text-align: right;
    color: cl(color-white);
  }

  &__addr {
    min-width: 90px;
    max-width: 100px;
  }

  &__phone {
    white-space: nowrap;
  }

  // .contacts-header__icon
  &__icon {
    border-radius: 100%;
    padding: 9px;
    min-width: fluid-value(30, 36, $md);
    min-height: fluid-value(30, 36, $md);
    max-width: fluid-value(30, 36, $md);
    max-height: fluid-value(30, 36, $md);
    background-color: cl(color-tomato);
  }

  // .contacts-header__text-sub
  &__text-sub {
    margin: 0;
    font: cl(font-base);
    text-align: right;
    color: cl(color-port);
  }
}
