.hero {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 670px;
    background-color: cl(color-oil);
  }

  &__block {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: fluid-value(10, 60);
    min-height: 75vh;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 1;
      background: linear-gradient(90deg, rgba(#211814, 0.57) 0%, rgba(#261b17, 0.42) 100%);
    }
  }

  &__body {
    position: relative;
    padding-bottom: fluid-value(75, 100);
    min-height: fluid-value(70, 90, $units: vh);
    background-image: url("../img/hero/bg.png");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: content-box;
  }

  // .hero__container
  &__container {
  }

  // .hero__text
  &__text {
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: fluid-value(22, 55) 55px;
  }

  // .hero__title
  &__title {
    margin: 0;
    max-width: 616px;
    font: cl(font-playfair-heading);
    color: cl(color-white);
  }

  // .hero__subtitle
  &__subtitle {
    margin-top: fluid-value(0, 30);
  }

  // .hero__link
  &__link {
    z-index: 2;
  }

  // .hero__benefits
  &__benefits {
  }
}