.item-price {
  // .item-price__body
  &__body {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: stretch;
    gap: 20px;
  }

  // .item-price__img
  &__img {
    width: 280px;
    height: 280px;
  }

  // .item-price__title
  &__title {
    margin: 0;
    font: cl(font-fira-medium);
    font-size: fluid-value(24, 30);
    color: cl(color-port);
  }

  // .item-price__list
  &__list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    border-right: 1px solid cl(color-bronco);
    padding-right: 15px;
    gap: 10px;
  }
}