// Here are the main styles for all pages.

@use "sass:color";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font: cl(font-base);
  background-color: $background;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.site-container {
  overflow: hidden;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 15px;

  // .logo__img
  &__img {
    flex: 0 0 fluid-value(30, 45);
    height: fluid-value(30, 45);
  }

  // .logo__text
  &__text {
    font: cl(font-fira-bold);
    text-transform: uppercase;
    color: cl(color-port);
  }
}

.subtitle {
  display: inline-flex;
  align-items: center;
  margin: 0;
  border: 1px solid cl(color-port);
  padding: 10px 25px;
  font: cl(font-playfair-bold);
  font-size: fluid-value(12, 14);
  white-space: nowrap;
  text-transform: uppercase;
  color: cl(color-white);
  cursor: default;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: fluid-value(10, 20) fluid-value(25, 50);
  font: cl(font-playfair-bold);
  white-space: nowrap;

  // .btn_primary
  &_primary {
    color: cl(color-white);
    background-color: cl(color-tomato);
    transition: background-color 0.3s ease 0s, transform 0.3s ease 0s;

    &:active,
    &._tapped {
      background-color: color.mix(#ff6e40, #000, 90%);
      transform: scale(0.9);
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: color.mix(#ff6e40, #000, 90%);
      }

      &:active,
      &._tapped {
        transform: scale(0.9);
      }
    }
  }
}

// ========================================================================================================================================================================
